        body {
            text-align: center;
        }
        #guess, #pre {
            width: 30px;
        }
        form {
            border: 2px solid brown;
            padding: 20px;
        }
        #result {
            color: red;
            padding: 20px;
            font-size: 30px;
        }
